body {
	text-align: center;
}

.main-container {
	width: 1200px;
	text-align: center;
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
}


.clear{
	clear: left;
}

/* use navbar-wrapper to wrap navigation bar, the purpose is to overlay navigation bar above slider */
.navbar-wrapper {
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	height: 51px;
}

.navbar-wrapper>.container {
	padding: 0;
}

@media all and (max-width: 768px ) {
	.navbar-wrapper {
		position: relative;
		top: 0px;
	}
}

.navbar-nav li{
	border-right: 1px solid #e7e7e7;
}

/* Home page slide show */
.jssorb01 {
	position: absolute;
}

.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
	position: absolute;
	/* size of bullet elment */
	width: 12px;
	height: 12px;
	filter: alpha(opacity = 70);
	opacity: .7;
	overflow: hidden;
	cursor: pointer;
	border: #000 1px solid;
}

.jssorb01 div {
	background-color: gray;
}

.jssorb01 div:hover, .jssorb01 .av:hover {
	background-color: #d3d3d3;
}

.jssorb01 .av {
	background-color: #fff;
}

.jssorb01 .dn, .jssorb01 .dn:hover {
	background-color: #555555;
}

.jssora02l, .jssora02r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 55px;
	height: 55px;
	cursor: pointer;
	background: url('img/a02.png') no-repeat;
	overflow: hidden;
}

.jssora02l {
	background-position: -3px -33px;
}

.jssora02r {
	background-position: -63px -33px;
}

.jssora02l:hover {
	background-position: -123px -33px;
}

.jssora02r:hover {
	background-position: -183px -33px;
}

.jssora02l.jssora02ldn {
	background-position: -3px -33px;
}

.jssora02r.jssora02rdn {
	background-position: -63px -33px;
}



/* detail slide show */
.slide-show {
	position: absolute;
	width: 520px;
	height: 520px;
	border: 10px solid #FFF0F5;
	display: none;
}

.slide-show figure img {
	width: 500px;
	height: 500px;
}

.product-images-container {
	width: 100%;
	background-color: #24262e;
	margin-top: 20px;
	height: auto;
	text-align: left;
	float: left;
}

.product-images-container li {
	float: left;
	margin: 5px;
	list-style: none;
}

.product-images-container li.focus {
	border: 3px solid #FFFFFF;
}

.product-images-container li.unfocus {
	border: 3px solid #000000;
}

.product-images-container li.active {
	border: 3px solid #FFFFFF;
}

.product-images-container ul li img {
	width: 160px;
}