<style>
.category_filter {
	width: 800px;
	border: 1px solid #e6e6e6;
	border-bottom: 5px solid #e6e6e6;
}

.category_filter  table {
	width: 800px;
}

.category_filter td {
	padding: 10px;
	border: 0px;
	border-top: 1px dotted #e6e6e6;
	border-top: 1px dotted #e6e6e6;
}

.category_name {
	width: 120px;
	background: #f5f5f5 none repeat scroll 0 0;
}

.sort_panel {
	height: 40px;
	margin-top: 3px;
	border: 1px solid #e6e6e6;
}

.list-panel {
	margin-top: 5px;
	border: 1px solid #e6e6e6;
	height: 400px;
}

.thumbnail img {
	width: 280px;
	height: 280px;
}
</style>

<div ng-controller="itemListCtrl">

	<div class="category_filter">
		<div class="category">
			<table cellspacing="0px">
				<tr>
					<td class="category_name">布料</td>
					<td ng-repeat="cat in categoryObj.clothCategories"><a href="#" onclick="return false" ng-click="filterItems('craft',cat.name)">{{cat.name}}</a></td>
				</tr>
				<tr>
					<td class="category_name">价格</td>
					<td ng-repeat="cat in categoryObj.priceCategories"><a href="#" onclick="return false" ng-click="filterItems('price',cat.id)">{{cat.name}}</a></td>
				</tr>
				<tr>
					<td class="category_name">风格</td>
					<td ng-repeat="cat in categoryObj.styleCategories"><a href="#" onclick="return false" ng-click="filterItems('style',cat.name)">{{cat.name}}</a></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="sort_panel"></div>

	<div class="preview-item thumbnail" ng-repeat="item in filterCurtainItems">
		<a href="#/buyi/detail?id={{item.id}}"><img style="width: 280px; height: 280px;" ng-src="{{item.previewImages[0]}}_280.jpg">
			<div class="preview-item-price">
				<span>¥</span><strong>{{item.price}}</strong>
			</div>
			<div class="preview-item-title">{{item.title}}</div></a>
	</div>

</div>