<style>
.preview {
	border: 1px solid red;
	width: 380px;
	float: left;
}

.preview img {
	border: 1px solid red;
	width: 380px;
}

.price-calculate {
	border: 1px solid blue;
	height: 380px;
	float: left;
	width: 65%;
	margin-left:20px;
}

.clear {
	clear:left;
}
</style>
<div class="product-show">
	<div class="preview">
		<img src="http://img11.360buyimg.com/n1/jfs/t1591/262/617271585/614123/4eda8439/55a0d26dN9acd8dac.jpg" />
	</div>
	<div class="price-calculate"></div>
	<div class="clear"></div>
</div>