<style>
.preview {
	width: 400px;
	float: left;
}

.preview img {
	width: 380px;
	float: left;
	margin: 2px;
}

.preview img.unfocus {
	border: 3px solid #FFFFFF;
}

.preview img.focus {
	border: 3px solid #c9033b;
}

.preview .thumbnails {
	margin-top: 5px;
}

.product-parameter {
	float: left;
	width: 63%;
	margin-left: 30px;
	text-align: left;
}

.product-parameter .title {
	color: #3c3c3c;
	font-size: 16px;
	font-weight: 700;
	padding: 8px;
	text-align: left;
}

.product-parameter .sub-title {
	color: #c9033b;
	font-weight: normal;
	word-break: break-all;
	word-wrap: break-word;
	font-weight: 700;
	text-align: left;
	padding-left: 8px;
}

.product-parameter .price {
	background-color: #fff2e8;
	margin: 8px;
	width: 400px;
	padding: 20px 0 20px 15px;
	text-align: left;
}

.product-parameter .price li {
	list-style: none;
}

.product-parameter .price li span {
	margin-left: 35px;
}

.product-parameter .price li.promotion-price {
	line-height: 26px;
}

.product-parameter .price li.promotion-price span {
	color: #f40;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: 700;
}

.clear {
	clear: left;
}

.preview-single img {
	width: 400px;
	height: 400px;
	border: 10px solid #AFFFFE;
}

.thumbnails {
	width: 400px;
}

.thumbnails img {
	width: 80px;
	height: 80px;
}

.delivery {
	text-align: left;
}

.detail-parameter {
	text-align: left;
	list-style-type: none;
}
</style>


<script>
$(document).ready(function () {
     $(".preview-single img").each(function(i,e){
        if(i != 0){
          $(e).hide();
        }
     })
     
     $(".thumbnails img").each(function(i,e){
    	 $(e).addClass('unfocus');	
         
         $(e).mouseover(function(){
        	 $(e).removeClass('unfocus');
             $(e).addClass('focus');
            
            $(".preview-single img").each(function(i2,e){
                if(i2 == i){
                  $(e).show();
                }else{
                  $(e).hide();
                }
            })
            
         }); 
         
         $(e).mouseout(function(){
            $(e).removeClass('focus');
            $(e).addClass('unfocus');
         });
         
     });

     $( "#cal-tabs" ).tabs();
   })
</script>


<div class="product-show">
	<div class="preview">
		<div class="preview-single">
			<img data-u="image" src="img/05.jpg" /> <img data-u="image" src="img/001.jpg" /> <img data-u="image" src="img/004.jpg" />
		</div>

		<div class="thumbnails">
			<img src="img/landscape.jpg" /> <img src="img/motor.jpg" /> <img src="img/photography.jpg" />
		</div>
	</div>
	<div class="product-parameter">
		<div class="title">
			<a href="#" target="_blank">定制全遮光窗帘布料成品卧室温馨落地窗窗帘欧式客厅纯色飘窗窗帘</a>
		</div>
		<div class="sub-title">标价为1米单价，幅宽2.7M，免辅料加工费</div>
		<ul class="price">
			<li class="original-price"><label>原价：</label><span>¥35.00</span></li>
			<li class="promotion-price"><label>促销价：</label><span>¥35.00</span></li>
		</ul>
		<div>
			<h3>价格计算</h3>
			<div id="cal-tabs">
				<ul>
					<li><a href="#tabs-1">已安装轨道</a></li>
					<li><a href="#tabs-2">已安装罗马杆</a></li>
					<li><a href="#tabs-2">未安装轨道/罗马杆</a></li>
				</ul>
				<div id="tabs-1"></div>
				<div id="tabs-2"></div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div>
		<legend>详细参数</legend>
		<ul class="detail-parameter">
			<li><lable>颜色分类:</lable></li>
			<li><lable>遮光率:</lable></li>
			<li><lable>材料:</lable></li>
			<li><lable>风格:</lable></li>
		</ul>
	</div>
	<div class="clear"></div>
</div>