<script>
$(document).ready(function () {
     $(".product-images-container div li").each(function(i,e){
    	 $(e).addClass("unfocus");
         
        $(e).mouseover(function(){
        	$(e).removeClass("unfocus");
            $(e).addClass("focus");
         }); 
         
         $(e).mouseout(function(){
        	$(e).removeClass("focus");
            $(e).addClass("unfocus");
         });

         $(e).click(function(){
        	 $(".product-images-container").play($(this));
         });
     });

     $( "#tabs" ).tabs();
     $(".product-images-container").gallerySlide();     
     
})
</script>

<div id="slide-show" class="bss-slides slide-show" tabindex="2">
	<figure>
	</figure>
	<span class="bss-prev">Â«</span><span class="bss-next">Â»</span> <span class="bss-close">X</span>
</div>

<div id="tabs" class="product-images-container">
	<ul>
		<li><a href="#tabs-1">红色</a></li>
		<li><a href="#tabs-2">蓝色</a></li>
	</ul>
	<div id="tabs-1">
		<ul>
			<li><img src="img/thumb-01.jpg" /></li>
			<li><img src="img/thumb-02.jpg" /></li>
			<li><img src="img/thumb-03.jpg" /></li>
			<li><img src="img/thumb-13.jpg" /></li>
			<li><img src="img/thumb-14.jpg" /></li>
			<li><img src="img/thumb-01.jpg" /></li>
			<li><img src="img/thumb-02.jpg" /></li>
			<li><img src="img/thumb-03.jpg" /></li>
		</ul>
	</div>
	<div id="tabs-2">
		<ul>
			<li><img src="img/thumb-01.jpg" /></li>
			<li><img src="img/thumb-02.jpg" /></li>
			<li><img src="img/thumb-03.jpg" /></li>
			<li><img src="img/thumb-04.jpg" /></li>
			<li><img src="img/thumb-05.jpg" /></li>
			<li><img src="img/thumb-06.jpg" /></li>
			<li><img src="img/thumb-07.jpg" /></li>
			<li><img src="img/thumb-08.jpg" /></li>
			<li><img src="img/thumb-09.jpg" /></li>
			<li><img src="img/thumb-10.jpg" /></li>
			<li><img src="img/thumb-11.jpg" /></li>
			<li><img src="img/thumb-12.jpg" /></li>
			<li><img src="img/thumb-13.jpg" /></li>
			<li><img src="img/thumb-14.jpg" /></li>
		</ul>
	</div>
</div>
