<style>
.product-images-container {
	width: 950px;
	background-color: #24262e;
	margin-top: 20px;
	height: 400px;
	text-align: left;
	float: left;
}

.product-images-container li {
	float: left;
	margin: 5px;
	list-style: none;
}

.product-images-container li.focus {
	border: 3px solid #FFFFFF;
}

.product-images-container li.unfocus {
	border: 3px solid #000000;
}

.product-images-container ul li img {
	width: 160px;
}
</style>

<script>
$(document).ready(function () {
     $(".product-images-container li").each(function(i,e){
    	 $(e).addClass("unfocus");
         
        $(e).mouseover(function(){
        	$(e).removeClass("unfocus");
            $(e).addClass("focus");
         }); 
         
         $(e).mouseout(function(){
        	$(e).removeClass("focus");
            $(e).addClass("unfocus");
         });
     })     
})
</script>

<div class="product-images-container">
	<ul>
		<li><img src="img/thumb-01.jpg" /></li>
		<li><img src="img/thumb-02.jpg" /></li>
		<li><img src="img/thumb-03.jpg" /></li>
		<li><img src="img/thumb-04.jpg" /></li>
		<li><img src="img/thumb-05.jpg" /></li>
		<li><img src="img/thumb-06.jpg" /></li>
		<li><img src="img/thumb-07.jpg" /></li>
		<li><img src="img/thumb-08.jpg" /></li>
		<li><img src="img/thumb-09.jpg" /></li>
		<li><img src="img/thumb-10.jpg" /></li>
		<li><img src="img/thumb-11.jpg" /></li>
		<li><img src="img/thumb-12.jpg" /></li>
		<li><img src="img/thumb-13.jpg" /></li>
		<li><img src="img/thumb-14.jpg" /></li>
	</ul>
</div>

