.elim-slider {
	position: relative;
	border-radius: 4px;
	overflow: hidden;
}

.elim-slider-container {
	position: absolute;
}

.elim-slider-container .elim-slider-item {
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}