code, .adjustable {
	padding: 0 3px;
	background: #f8fbff;
	color: #69768b;
	border-radius: 2px;
}

.unslider-wrap.unslider-carousel dl ol li {
	float: none;
	padding: 0 0 4px;
	list-style: decimal;
}

.unslider-nav {
	right: auto;
	z-index: 3;
	margin-left: 40px;
}

nav a[href="#welcome"] {
	position: relative;
}

nav a[href="#welcome"]:before, nav a[href="#welcome"]:after {
	position: absolute;
	transition: top .2s cubic-bezier(.42, 0, .58, 1), opacity .3s;
	pointer-events: none;
	opacity: 0;
}

nav a[href="#welcome"]:hover:before, nav a[href="#welcome"]:hover:after
	{
	opacity: .5;
}

nav a[href="#welcome"]:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 100%;
	margin-left: -8px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid rgba(28, 35, 59, .43);
}

nav a[href="#welcome"]:hover:before {
	top: 130%;
}

nav a[href="#welcome"]:after {
	content: 'beta';
	position: absolute;
	left: 0;
	right: 10px;
	top: 123%;
	padding: 3px 0;
	border-radius: 3px;
	font-size: 10px;
	line-height: 12px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background: rgba(28, 35, 59, .35);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1), 0 1px 0
		rgba(255, 255, 255, .05);
}

nav a[href="#welcome"]:hover:after {
	top: 150%;
}

.unslider-nav li {
	float: left;
}

nav #logo {
	margin-right: 10px;
}

.unslider .unslider-nav li {
	display: inline-block;
	float: left;
	margin: -2px 0 0 32px;
	padding: 2px 18px;
	border-radius: 30px;
	color: #fff;
	color: rgba(255, 255, 255, .7);
	font-size: 13px;
	font-weight: 500;
	cursor: pointer;
	list-style: none;
	transition: color .2s, background .2s;
}

body>.unslider>.unslider-nav li:first-child {
	display: none;
}

.unslider-nav li:hover, .unslider-nav li.unslider-active {
	color: #fff;
}

.unslider-nav li:hover {
	background: rgba(0, 0, 0, .05);
}

.unslider-nav li.unslider-active {
	background: rgba(0, 0, 0, .1);
}

#setup .unslider-arrow, #demos .unslider-arrow {
	display: block;
	width: 32px;
	height: 32px;
	top: 50%;
	right: -50px;
	left: auto;
	margin-top: -16px;
	overflow: hidden;
	background: rgba(0, 0, 0, .2) no-repeat 50% 50%;
	background-image:
		url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==');
	background-size: 7px 11px;
	border-radius: 32px;
	text-indent: -999em;
	opacity: .6;
	transition: opacity .2s;
}

#setup .unslider-arrow:hover, #demos .unslider-arrow:hover {
	opacity: 1;
}

#setup .unslider-arrow.prev, #demos .unslider-arrow.prev {
	left: -50px;
	right: auto;
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

#setup .unslider-nav {
	bottom: 40px;
}

#setup {
	background: #d23c39;
	background: linear-gradient(-20deg, #d23c39, #dca74a);
}

#setup .unslider, #setup .install-steps, #setup .install-steps ul,
	#setup .install-steps ul li {
	height: 100%;
}

#setup .install-steps {
	width: 100%;
}

#setup .install-steps ul li {
	position: relative;
	width: 100%;
}

#setup .install-steps li ol {
	margin: 15px 30px 25px;
}

#setup .install-steps li ol li {
	float: none;
	list-style: decimal;
}

#setup h2 em {
	display: inline-block;
	margin: -2px 20px 0 -56px;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	font-size: 14px;
	line-height: 32px;
	font-weight: 600;
	font-style: normal;
	text-align: center;
	background: rgba(255, 255, 255, .8);
	color: #dca74a;
	text-shadow: none;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
	border-radius: 32px;
}

#setup .unslider-arrow {
	right: 40px;
}

#setup .unslider-arrow.prev {
	left: 40px;
}

#setup .unslider-nav {
	bottom: 13px;
}
