<div ng-controller="homeCtrl">
	<div id="slide-show" class="owl-carousel owl-theme">
		<div class="item" ng-repeat="item in slideShows">
			<img ng-src="{{item.image}}" alt="The Last of us">
		</div>
	</div>
	<div ng-init="slideShow()"></div>

	<div class="preview-item thumbnail" ng-repeat="item in curtainItems">
		<a href="#/buyi/detail?id={{item.id}}"><img style="width: 280px; height: 280px;" ng-src="{{item.previewImages[0]}}_280.jpg">
			<div class="preview-item-price">
				<span>¥</span><strong>{{item.price}}</strong>
			</div>
			<div class="preview-item-title">{{item.title}}</div></a>
	</div>
</div>